* {
  box-sizing: border-box;
}
html {
  overflow: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 0.8;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid orange;
}

.main-links {
  position: absolute;
  display: flex;
  left: 35%;
}
.navigation-links .nav-items,
.registration-links .nav-items {
  display: inline-block;
  margin: 0 10px;
}
a,
button {
  text-decoration: none;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
